Allow From All
Options -Indexes -MultiViews

ErrorDocument 403 /www/error403.html
ErrorDocument 404 /www/error404.html
ErrorDocument 500 /www/error500.html


<Files ~ "\.inc$">
	Order Deny,Allow
	Deny From All
</Files>

<Files ~ "\.tpl$">
	Order Deny,Allow
	Deny From All
</Files>

<Files ~ "\.log$">
	Order Deny,Allow
	Deny From All
</Files>


<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteBase	/
	RewriteRule	^(.*)$	www/$1 [L]
</IfModule>
